@import '../../../root.css';

.container {
    display: flex;
    align-items: center;
    gap: 10px; 
    font-weight: 400;
    font-size: 1.2rem;
}

.avatar-logo {
    width: 50px;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    object-fit: cover;
    user-select: none;
}

.urName {
    color: var(--text-primary);
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    user-select: none;
}
