@import '../../../root.css';

.balance-panel {
    width: 20vw;
    min-width: 150px;
    max-width: 200px;
    min-height: 50px;
    border-radius: var(--radius-lg);
    background-color: var(--accent-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.balance-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-secondary);
    font-weight: bold;
    padding-left: 15px;
    user-select: none;
    justify-content: center;
    align-items: center;
}

.balance-content::after {
    content: '₽';
    font-size: 1.rem;
    opacity: 0.9;
}

.top-up {
    background-color: var(--accent-color);
    width: 50px;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: var(--radius-lg);
    object-fit: cover;
    color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.2s ease;
    min-width: 50px;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.top-up:hover {
    background-color: var(--accent-hover);
}

.top-up:active {
    transform: translateY(0);
}
