@import '../../root.css';

.header {
    width: 100%;
    height: 5.5vh;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    user-select: none;
    margin-bottom: 15px;
}